/* line 5, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 12, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
body {
  margin: 0; }

/* line 31, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 40, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/* line 47, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
[hidden], template {
  display: none; }

/* line 63, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
a {
  background: transparent; }

/* line 69, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 77, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 83, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 88, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 93, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 99, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 105, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 111, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 118, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 122, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 130, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
img {
  border: 0; }

/* line 135, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 143, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 148, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 155, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
pre {
  overflow: auto; }

/* line 163, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 182, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 189, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
button {
  overflow: visible; }

/* line 198, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
button, select {
  text-transform: none; }

/* line 208, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* line 215, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 221, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 228, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
input {
  line-height: normal; }

/* line 238, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

/* line 247, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 253, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 263, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 268, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 276, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 282, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
textarea {
  overflow: auto; }

/* line 288, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 296, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 302, /Users/ianblack/Repos/tsm/src/sass/_normalize.scss */
td, th {
  padding: 0; }

/* line 1, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
body {
  background-color: black; }

/* line 3, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
.mobile {
  background-color: white;
  max-width: 320px;
  height: 568px;
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: auto; }

/* line 13, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
.tooltip-drag {
  position: absolute;
  top: 144px;
  width: 100%;
  height: 30px; }

/* line 19, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
#tooltip-drag {
  padding: 2px 9px;
  border-radius: 100px;
  background-color: #18a2db;
  position: absolute;
  top: 0;
  left: 132px; }
  /* line 27, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  #tooltip-drag p {
    color: white;
    font-size: 11px;
    line-height: 1em;
    text-align: center;
    margin: 1px; }
  /* line 34, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  #tooltip-drag .bigger {
    font-size: 14px;
    font-weight: bold; }
  /* line 38, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  #tooltip-drag::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #18a2db;
    bottom: -2px;
    left: -webkit-calc(50% - 3px);
    left: calc(50% - 3px);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

/* line 50, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="bar-tooltip"] {
  display: none; }

/* line 54, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
#tooltip-spinner, #card-load-spinner {
  -webkit-animation: spin 0.6s infinite linear;
  animation: spin 0.6s infinite linear;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

/* line 59, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
.animated-slide {
  -webkit-animation: sideways 3s infinite ease;
  animation: sideways 3s infinite ease; }

/* line 62, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-bar"] {
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-animation: all 0.6s ease;
  animation: all 0.6s ease; }

/* line 70, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
.bar-grow {
  -webkit-animation: bar-grow 0.6s forwards ease;
  animation: bar-grow 0.6s forwards ease; }

/* line 72, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
.js-bar-move-start {
  -webkit-animation: bar-move-start 0.6s forwards ease;
  animation: bar-move-start 0.6s forwards ease; }

/* line 74, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
#cheapest-tooltip {
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }

/* line 80, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-back"] {
  opacity: 0.3; }

/* line 84, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"]:hover [id^="graph-back"] {
  fill: #18a2db !important; }
/* line 85, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"]:hover [id^="graph-back"] {
  fill: #18a2db !important; }
/* line 86, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"]:hover [id^="graph-bar"] {
  fill: #18a2db !important; }
/* line 87, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"]:hover text {
  fill: #18a2db !important; }
  /* line 89, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  [id^="graph-"]:hover text tspan {
    fill: #18a2db !important; }
/* line 91, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"]:hover [id^="bar-tooltip"] {
  display: block; }
  /* line 93, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  [id^="graph-"]:hover [id^="bar-tooltip"] text {
    fill: white !important; }
    /* line 95, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
    [id^="graph-"]:hover [id^="bar-tooltip"] text tspan {
      fill: white !important; }
/* line 99, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"]:hover [id^="cheapest-tooltip"] text {
  fill: white !important; }
  /* line 101, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  [id^="graph-"]:hover [id^="cheapest-tooltip"] text tspan {
    fill: white !important; }

/* line 109, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"].js-highlighted [id^="graph-back"] {
  fill: #18a2db !important; }
/* line 110, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"].js-highlighted [id^="graph-back"] {
  fill: #18a2db !important; }
/* line 111, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"].js-highlighted [id^="graph-bar"] {
  fill: #18a2db !important; }
/* line 113, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"].js-highlighted text {
  fill: #18a2db !important;
  font-weight: bold; }
  /* line 116, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  [id^="graph-"].js-highlighted text tspan {
    fill: #18a2db !important; }
/* line 120, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
[id^="graph-"].js-highlighted [id^="cheapest-tooltip"] text {
  fill: white !important;
  font-weight: normal; }
  /* line 123, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  [id^="graph-"].js-highlighted [id^="cheapest-tooltip"] text tspan {
    fill: white !important; }

/* line 129, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
#card-loading {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* line 132, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
.red {
  fill: red !important; }

/* line 133, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
.js-hide {
  display: none; }

/* line 135, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
.js-show {
  display: block !important; }

/* line 137, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
.js-show-opacity {
  opacity: 1 !important; }

/* line 138, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
.js-hide-opacity {
  opacity: 0; }

@-webkit-keyframes spin {
  /* line 144, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  /* line 145, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  /* line 144, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  /* line 145, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes bar-grow {
  /* line 149, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0); }

  /* line 150, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes bar-grow {
  /* line 149, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0); }

  /* line 150, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@-webkit-keyframes bar-move-start {
  /* line 154, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  /* line 155, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  100% {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px); } }

@keyframes bar-move-start {
  /* line 154, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  /* line 155, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  100% {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px); } }

@-webkit-keyframes sideways {
  /* line 160, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  0% {
    -webkit-transform: translateX(-125px);
    transform: translateX(-125px); }

  /* line 161, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  50% {
    -webkit-transform: translateX(125px);
    transform: translateX(125px); }

  /* line 162, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  100% {
    -webkit-transform: translateX(-125px);
    transform: translateX(-125px); } }

@keyframes sideways {
  /* line 160, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  0% {
    -webkit-transform: translateX(-125px);
    transform: translateX(-125px); }

  /* line 161, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  50% {
    -webkit-transform: translateX(125px);
    transform: translateX(125px); }

  /* line 162, /Users/ianblack/Repos/tsm/src/sass/_home.scss */
  100% {
    -webkit-transform: translateX(-125px);
    transform: translateX(-125px); } }
