//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


body {
  background-color: $grey
}


//===============================================================================
// HOME STLYES
//===============================================================================
$marg: 16px;
$marg2: 13px;

//breakpoints
$break1: 780px;
$break2: 710px;
$break3: 610px;
$break4: 350px;

body, html {
	font-family: 'Akkurat Std', Arial, serif;
	font-size: 13px;
	color: $ink;

	@media screen and (max-width: $break4) { font-size: 11px; }


}

body {
	padding: 24px;
	 @media screen and (max-width: $break2) { padding: 24px 10px; }
}

h1 {
 font-size: 2.2em;
 line-height: 1em;
 margin: 0;

 @media screen and (max-width: $break1) { font-size: 2em; }
}

h2 {
 font-size: 1.5em;
 line-height: 1em;
}

h3 {
 font-size: 1.3em;
 line-height: 1em;
}

h4 {
 font-size: 1.2em;
 line-height: 1em;
}

p {
 font-size: 1em;
 margin: 0;
}

.orange { color: $orange1; }
.orange2 { color: $orange2; }
.lighter { color: $ink2; }


.btn, .btn-2 {
	padding: 14px;
	background-color: white;
	text-align: center;
	font-size: 1.1em;
	margin-top: 1em;
	cursor: pointer;
	
	@media screen and (max-width: $break3) { padding: 8px 4px; }
}


.btn {
	background-color: $orange1;
	border: 1px solid $orange1;
	color: white;
	width: 100%;
	font-weight: bold;
	&:hover {
		background-color: $blue;
		border: 1px solid $blue;
	}
}

.btn-compare {
	position: absolute;
	left: 35.8%;
	bottom: $marg;
	width: calc(33% - 32px);
	border: 1px solid $orange1;
	color: $orange1;

	@media screen and (max-width: $break3) { 
		bottom: $marg2;
		left: $marg2;
		width: calc(50% - 25px);
		&:hover {
			border: 1px solid $blue;
			color: $blue;
		}
	}
	@media screen and (min-width: $break3) { 
		border: none;
		padding-left: 0;
		padding-right: 0;
		text-align: left;

		&::after {
			content:"";
			display: inline-block;
			width: 12px;
			height: 12px;
			border: 3px solid;
			border-top: none;
			border-left: none;
			border-color: $orange1;
			margin-left: 8px;
			transform: rotate(45deg);
			position: relative;
			top: -3px;
			transition: top $short ease;

		}

		&:hover {
			color: $blue;
			&::after {
				border-color: $blue;
				top: 0px;
			 }
		}
	}
}

.card-wrap {
	width: 100%;
	max-width: 800px;
	min-width: 320px;
	height: 260px;
	margin: 24px auto;
	background: white;
	box-shadow: 0 2px 4px rgba(0,0,0,.3);

	position: relative;

	@media screen and (max-width: $break3) { height: 199px;}
	@media screen and (max-width: $break4) { height: 190px;}
}

.img-col-wrap {
	width: 34%;
	height: 100%;
	position: relative;
	display: inline-block;
	left: 0;
	bottom: 0;
	background: url("../img/photo.png") no-repeat center center;
	background-size: cover;
	
	@media screen and (max-width: $break3) { 
		left: $marg2;
	    top: $marg2;
	    // height: 170px;
	    height: 125px;
	    width: calc(34% - 13px);
	}
	@media screen and (max-width: $break4) {
		height: 118px;
		width: 118px;
	}
}


.photos-link-wrap, .email-icon, .heart-icon {
	background-color: rgba($ink,.5);
	height: 48px;
	display: inline-block;
    position: absolute;
    bottom: $marg;
	transition: all .1 ease;
    &:hover {
    	background-color: rgba($blue,.5);
    }

    @media screen and (max-width: $break3) {
    	bottom: 0;
    	background-color: rgba($ink, 0);
    };
}


.photos-link-wrap {
	left: $marg;
	width: 78px;

	img {
		position: absolute;
		left: 1em;
		top: 1.1em;
	}
	span {
		position: absolute;
		color: white;
		left: 45px;
		top: 1.2em;

	}

	@media screen and (max-width: $break1) {
		width: 49px;
		span { display: none; }
	}

	@media screen and (max-width: $break3) { display: none; }
}

.email-icon, .heart-icon {
	width: 48px;

	img { position: absolute; }
}

.email-icon {
	right: 64px;
	img {
		left: 1em;
		top: 1.1em;	
	}
	@media screen and (max-width: $break3) { left: 0 };
}

.heart-icon {
	right: $marg;
	img {
		right: 1em;
		top: .9em;	
	}
	 @media screen and (max-width: $break3) { right: 0 };
}

.hotel-col-wrap {
	position: absolute;
	display: inline-block;
	left: 34%;
	width: 33%;
	top: 1em;
	padding: 0 $marg;
	height: calc(100% - 2em);
	border-right: 1px solid $vlgrey;

	@media screen and (max-width: $break3) { 
		left: 34%;
		width: 66%;
		padding: 0 $marg2;
		border-right: none;
	}
	@media screen and (max-width: $break4) {
		left: 128px;
		width: calc(100% - 128px);
	}
}

.title-review-wrap {
	h2 {
		display: inline-block;
		margin: 0 8px 0 0;
	}
	
	img {
		@media screen and (max-width: $break3) { 
			display: block;
			margin-top: 4px;
		}
	}	
}

.stars {
	@media screen and (max-width: $break4) { 
		height: 9px;
	}
}

.location-wrap {
	margin-top: 8px;
	position: relative;

	img {
		position: absolute;
		left: 0;
		top: 0;
	}
	p {
		display: inline-block;
		 margin: 1px 0 0 19px;
	}

	@media screen and (max-width: $break3) { display: none; }
}

.review-wrap {
	margin-top: 8px;
	position: relative;
	border-bottom: 1px solid $vlgrey;

	img {
		position: absolute;
		left: 0;
		top: 3px;
	}
	h4 {
		display: inline-block;
		margin: 1px 0 12px 20px;
	}
	p {
		display: inline-block;
		margin: 0;
		@media screen and (max-width: $break1) { display: none; }
	}

	@media screen and (max-width: $break4) { 
		img {
			top: -3px;
		}
	}
}

.deals-wrap {
	position: absolute;
	display: inline-block;
	bottom: 60px;
	left: $marg;

	@media screen and (max-width: $break3) { display: none; }
}

.deal-row {
	margin-top: 6px;
	
	h4, p {
		display: inline-block;
		margin: 0;
	}
}


.deal-col-wrap {
	position: absolute;
	display: inline-block;
	left: 67%;
	width: 33%;
	top: 1em;
	height: calc(100% - 2em);
	padding: 0 $marg;

	@media screen and (max-width: $break3) { 
		left: 34%;
		padding: 0 $marg2;
		width: 66%;
		bottom: 0;
	}
	@media screen and (max-width: $break4) {
		left: 128px;
		width: calc(100% - 128px);
	}
}

.deal-items-list {
	margin: 0 0 21px 0;
	li {
		margin: 0 0 4px 4px;
		&::before {
			content: "•";
			position: relative;
			left: -4px;
		}
		@media screen and (max-width: $break3) { margin: 0 0 2px 4px; };
	}
}

.mobile-only { display: none; }

@media screen and (max-width: $break3) { 
	.non-mobile { display: none; }
	.mobile-only { display: block; }
}

.deal-info-wrap {
	@media screen and (max-width: $break3) { 
		img { display: none; }
		margin-top: 75px;
		width: 50%;
		display: inline-block;
		border-right: 1px solid $vlgrey;
	}
}

.book-wrap {
	position: absolute;
	width: 100%;
	bottom: 60px;
	@media screen and (max-width: $break3) {
		width: calc(50% - 18px);
		position: absolute;
		bottom: 43px;
		right: 8px;
	}
}

.cost-total {
	display: inline-block;
	@media screen and (max-width: $break1) { display: none; }
}

.btn-deal {

	position: absolute;
    left: 69%;
    width: calc(33% - 32px);
    bottom: $marg;

	@media screen and (max-width: $break3) {
		position: absolute; 
		bottom: $marg2;
		left: 50%;
		width: calc(50% - 13px);

	}
}

.strikethrough { text-decoration: line-through; }


.inline-b { display: inline-block;}



