//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


body {
  background-color: $grey
}


//===============================================================================
// HOME STLYES
//===============================================================================
$marg: 16px;
$marg2: 13px;

//breakpoints
$break1: 750px;
$break2: 550px;
// $break3: 420px;
// $break3: 610px;
// $break4: 350px;

@media screen and (max-width: $break2) { 
 $marg: 10px;
}

body, html {
	font-family: 'AkkuratRegular', sans-serif;
	font-size: 13px;
	color: $ink;
	
	@media screen and (max-width: $break1) { font-size: 12px; }
	@media screen and (max-width: $break2) { font-size: 11px; }


}

body {
	padding: 24px;
	 @media screen and (max-width: $break2) { padding: 24px 0px; }
}

h1, h2, h3, h4, p {
	font-family: 'AkkuratRegular', sans-serif;
}

h1 {
 font-size: 2.2em;
 line-height: 1em;
 margin: 0;

 @media screen and (max-width: $break1) { font-size: 2em; }
}

h2 {
 font-size: 1.3em;
 line-height: 1em;
}

h3 {
 font-size: 1.3em;
 line-height: 1em;
}

h4 {
 font-size: 1.2em;
 line-height: 1em;
}

p {
 font-size: 1em;
 margin: 0;
}

.orange { color: $orange1; }
.orange2 { color: $orange2; }
.lighter { color: $ink2; }

