
//===============================================================================
// VARIABLES
//===============================================================================
$orange1: #EE6000;
$orange2: #FA9550;
$ink: #201D31;
$ink2: #5E5A6C;
$blue: #27A3D9;

$grey: #CACCD9;
$lgrey: #E2E2E2;
$vlgrey: #F2F2F2;
$back-grey: #f7f7f7;




$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





