//===============================================================================
// IMPORTS
//===============================================================================

// define mixins & functions
@import "_mixins.scss";

// define variables
@import "_variables.scss";

.text-center {
  text-align: center;
  width: 100%;
}

.contact-info {
  margin-top: 20px;
  transform: scale(1);
  transition: all $long ease;

   &:hover {
    transform: scale(1.075);
  }
}
.contact-email {

  text-decoration: none;
  color: $ink;
  transition: $short;

  @media screen and (max-width: 550px) {
    font-size: 0.7em;
  }

  @media screen and (max-width: 400px) {
    font-size: 0.6em;
  }
}

.colFadeAnim {
  animation: colFade 20s infinite;
}

.moveDown {
  animation: moveDown $vLong ease;
}

.content-hold {
 width: 100%;
 float: left;
 position: relative;
}

.contact-blurb {
  width: 60%;
  max-width: 600px;
  color: $ink;
  text-align: center;
  margin-top: 80px;

  @include margin-auto;

  @media screen and (max-width: 600px) {
    width: 80%;
  }

  @media screen and (max-width: 400px) {
    width: 90%;
    margin-top: 50px;
  }
}

.opacityUp {
  animation: opacityUp $vLong ease-in;
}


.contact-button {
  @include box-sizing;
  font-family: 'Oswald', helvetica, arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  background-color: $ink;
  color: white;
  padding: 12px 0 0 8px;
  width: 141px;
  height: 43px;
  display: inline-block;
  position: relative;
  margin-bottom: 0.5em;
  float: left;

  margin-right: 0.5em;

  &:nth-child(4) {
    margin-right: 0;
  }

  @media screen and (max-width: 650px) {
    &:nth-child(odd) {
      margin-right: 0.5em;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 400px) {
    &:nth-child(odd) {
      margin-right: 0;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
  }

  border-top: 2px solid $ink;
  border-bottom: 2px solid $coral;

  img {
    height: 25px;
    position: absolute;
    right: 8px;
    top: 8px;
  }

  &:hover {
    padding: 14px 0 0 8px;
    border-bottom: 2px solid $ink;
    border-top: 2px solid white;
    color: $coral;

    img {
      top: 10px;
    }
  }
}

.contact-buttons{
  width: 588px;
  margin-top: 50px;
  margin-bottom: 50px;
  @include margin-auto;
  @include clearfix;
  text-align: center;

  @media screen and (max-width: 650px) { width: 290px; }
  @media screen and (max-width: 400px) { width: 141px; }
}

.moveUp1 { animation: moveUp 0.7s ease; }
.moveUp2 { animation: moveUp 0.9s ease; }
.moveUp3 { animation: moveUp 1.1s ease; }
.moveUp4 { animation: moveUp 1.3s ease; }


//===============================================================================
// ANIMATIONS
//===============================================================================

@keyframes colFade {
  0% { color: $grey; }
  25% { color: $coral; }
  50% { color: $yellow; }
  75% { color: $coral; }
  100% { color: $grey; }
}

@keyframes moveDown {
  0% { 
    opacity: 0;
    transform: translate(0,-50px);
   }
  10% { opacity: 0; }
   100% { 
    opacity: 1;
    transform: translate(0,0);
   }
}

@keyframes moveUp {
  0% { 
    opacity: 0;
    transform: translate(0,100px);
   }
  10% { opacity: 0; }
   100% { 
    opacity: 1;
    transform: translate(0,0);
   }
}

@keyframes opacityUp {
  0% { opacity: 0;}
  100% { opacity: 1; }
}